<style>

  #color_me_in {
    background-color: <%= @color %>;
    color: white;
    width: 250px;
    height: 250px;
    text-align: center;
  }

  </style>

  <div id="color_me_in">

  <h1><%= @color %></h1>

  </div>

  <%= form_tag index_path do %>

    <p>
     <%= text_field_tag :name, nil, placeholder: "What's your name?" %>
    </p>
    <p><%= submit_tag :submit %></p>

  <% end %>