<h1>Choose a Color!</h1>

<p><%= link_to "Red", about_path(color: "red") %></p>

<p><%= link_to "Blue", about_path(color: "blue") %></p>

<p><%= link_to "Green", about_path(color: "green") %></p>

<p><%= link_to "Yellow", about_path(color: "yellow") %></p>

<% if @name.present? %>
  <h2>Welcome Back, <%= @name %></h2>
<% end %>